html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#app {
  width: 100%;
  height: 100vh;
}
#globe {
  width: 100%;
  height: 100vh;
  background-color: #000723;
}
canvas {
  touch-action: none;
}